@page "/message/{QueueName}/{SerialNumber:long}"
@model MessageModel
@{
    ViewData["Title"] = $"{@Model.QueueName} Queue";
}

<style>
    .label-value {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
        .label-value .label {
            font-weight: bold;
        }
        .label-value .value {
            white-space: pre-wrap;
            word-break: break-word;
            overflow-wrap: anywhere;
        }
</style>

@if (Model.Message != null)
{
    <h5 class="display-6"><a href="/Messages/@Model.QueueName">@Model.QueueName</a></h5>

    <table class="table table-striped table-bordered mt-2">
        <thead class="table-light">
            <tr>
                <th colspan="7">Metadata</th>
            </tr>
        </thead>
        <thead class="table-light">
            <tr>
                <th>Serial</th>
                <th>Timestamp</th>
                <th>Due</th>
                <th>Deferred</th>
                <th>Delivered</th>
                <th>Consumed</th>
                <th>Object</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Message.SerialNumber</td>
                <td>@Model.Message.Timestamp</td>
                <td>@(Model.Message.DeferredUntil?.ToString() ?? "asap")</td>
                <td>@Model.Message.DeferredDeliveryCount.ToString("n0")</td>
                <td>@Model.Message.SubscriberMessageDeliveries.Count.ToString("n0")</td>
                <td>@Model.Message.SatisfiedSubscribersSubscriberIDs.Count.ToString("n0")</td>
                <td>@Model.Message.AssemblyQualifiedTypeName</td>
            </tr>
        </tbody>
    </table>

    <div class="container mt-4">
        <div class="label-value">
            <div class="label">Message Body:</div>
            <div class="value">@Model.Message.MessageJson</div>
        </div>
    </div>
}