@page "/queue/{QueueName}"
@model QueueModel
@{
    ViewData["Title"] = $"{@Model.QueueName} Queue";
}

<div>
    <h6 class="display-6">@Model.Queue.QueueName</h6>

    <div class="container mt-4">
        <table class="table table-striped table-bordered">
            <thead class="table-light">
                <tr>
                    <th colspan="8">Configuration</th>
                </tr>
            </thead>
            <thead class="table-light">
                <tr>
                    <th>Persistence</th>
                    <th>Consumption</th>
                    <th>Delivery</th>
                    <th>Interval</th>
                    <th>Throttle</th>
                    <th>Retries</th>
                    <th>Expiration</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Queue.PersistenceScheme</td>
                    <td>@Model.Queue.ConsumptionScheme</td>
                    <td>@Model.Queue.DeliveryScheme</td>
                    <td>@Model.Queue.BatchDeliveryInterval</td>
                    <td>@Model.Queue.DeliveryThrottle</td>
                    <td>@Model.Queue.MaxDeliveryAttempts</td>
                    <td>@Model.Queue.MaxMessageAge</td>
                    <td>@Html.Raw(ConfirmActionHelper.GenerateDangerLink(
                        $"Deleting the queue '{@Model.Queue.QueueName}' will result in permanant message loss and any subscribers will fail. Continue?",
                        "Delete", $"/DeleteQueue/{@Model.Queue.QueueName}"))
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped table-bordered">
            <thead class="table-light">
                <tr>
                    <th colspan="7">Statistics</th>
                </tr>
            </thead>
            <thead class="table-light">
                <tr>
                    <th>Subscribers</th>
                    <th>Depth</th>
                    <th>Received</th>
                    <th>Delivered</th>
                    <th>Expired</th>
                    <th>Failures</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Queue.CurrentSubscriberCount.ToString("n0")</td>
                    <td><a href="/messages/@Model.Queue.QueueName">@Model.Queue.CurrentMessageCount.ToString("n0")</a></td>
                    <td>@Model.Queue.ReceivedMessageCount.ToString("n0")</td>
                    <td>@Model.Queue.DeliveredMessageCount.ToString("n0")</td>
                    <td>@Model.Queue.ExpiredMessageCount.ToString("n0")</td>
                    <td>@Model.Queue.DeliveryFailureCount.ToString("n0")</td>
                    <td>@Html.Raw(ConfirmActionHelper.GenerateDangerLink(
                        $"Purging the queue '{@Model.Queue.QueueName}' will result in permanant message loss. Continue?",
                        "Purge", $"/PurgeQueue/{@Model.Queue.QueueName}"))
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped table-bordered">
            <thead class="table-light">
                <tr>
                    <th colspan="7">Subscribers</th>
                </tr>
            </thead>
            <thead class="table-light">
                <tr>
                    <th>SubscriberId</th>
                    <th>Address</th>
                    <th>Attempts</th>
                    <th>Successful</th>
                    <th>Failures</th>
                    <th>Consumed</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var queue in Model.Subscribers)
                {
                    <tr>
                        <td>@queue.SubscriberId</td>
                        <td>@queue.RemoteAddress : @queue.RemotePort</td>
                        <td>@queue.DeliveryAttempts.ToString("n0")</td>
                        <td>@queue.SuccessfulMessagesDeliveries.ToString("n0")</td>
                        <td>@queue.FailedMessagesDeliveries.ToString("n0")</td>
                        <td>@queue.ConsumedMessages.ToString("n0")</td>
                        <td>@Html.Raw(ConfirmActionHelper.GenerateDangerLink(
                            $"Removing the subscription for '{@queue.SubscriberId}' from '{@Model.Queue.QueueName}' will cause the subscriber to fail. Continue?",
                            "Remove", $"/RemoveSubscription/{@Model.Queue.QueueName}/{@queue.SubscriberId}"))
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
